<h2>Figures</h2>

<h5> <%= link_to "Home Page", '/' %></h5>

<div>
    <%= paginate @figures %>
</div>

<div>
    <%= form_tag('/figures', method: :get) do %>
        <%= select_tag(:faction, options_for_select(Faction.all.map {|f| [f.name, f.name] }), include_blank: true) %>
        <%= label_tag(:search, "Search by name or description:") %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name => nil) %>
    <% end %>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <% @figures.each do |figure| %>
            <tr>
                <th><%= link_to figure.name, figure %></th>
                <th><%= figure.description %></th>
                <th>$<%= figure.price %></th>
                <th><%= link_to image_tag("#{figure.image}") %></th>
            </tr>
        <% end %>
    </tbody>
</table>

