<h2>Shopping Cart</h2>
<h5> <%= link_to "Home Page", '/' %></h5>
<%= link_to 'Figures', '/figures' %>
<%= link_to 'Factions', '/factions' %>
<%= link_to 'Contact Page', '/contact' %>
<%= link_to 'Orders', '/orders' %>
<%= link_to 'Check Out', '/pages/checkout' %>
<% @cart.each do |f| %>
    <% @figure = Figure.find(f[0]) %>
    <%= render partial: 'figures/show', object: @figure %>
    Quantity: <%= f[1] %>
    <%= button_to 'Increase', increase_quantity_path(f[0]) %>
    <%= button_to 'Decrease', decrease_quantity_path(f[0]) %>
    <%= link_to 'Remove from cart', remove_from_cart_path(f[0]), method: :delete %>
<% end %>